:root {
  --font-sans: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, Arial,
    sans-serif;
  --color-white: #ffffff;
  --color-black: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: var(--font-sans);
  background: var(--color-black);
  color: var(--color-white);
}

#app {
  height: 100%;
}
